<article class="content">
    <div class="wrap">
        <div class="breadcrumbs">
            <a href="#">Главная</a> / <a href="#">Каталог </a> / <a href="#">Бульдозер Shantui SD16</a> / <span>1.1 ENGINE RELATED PARTS</span>
        </div>

        <h1 class="content__title">1.1 ENGINE RELATED PARTS</h1>

        <p>Наша компания производит поставки напрямую от производителей и официальных поставщиков. Со многими заводами налажено прямое сотрудничество и пройдена официальная авторизация, сертификаты о которой представлены в специальном разделе сайта. Благодаря тому, что продажа запчастей на спецтехнику ведется без перекупщиков, мы выдерживаем планку доступных цен и урезаем сроки поставок до минимума. </p>
    </div>
    <div class="box">
        <div class="detals">
            <div class="detal-list">
                <table>
                    <tr>
                        <th>№</th>
                        <th>Артикул</th>
                        <th>Название</th>
                        <th></th>
                        <th>Цена</th>
                    </tr>
                    <tr class="detal-list-one">
                        <td>1</td>
                        <td><a href="#" class="detal-art">200470000</a></td>
                        <td>Bolt</td>
                        <td>Болт</td>
                        <td><div class="detal-price">Цена</div></td>
                    </tr>
                    <tr class="detal-one">
                        <td colspan="5">
                            <div class="detal-one-inn">
                                <div class="detal-one-top">
                                    <div class="detal-one__title">Pipe / Трубка</div>

                                    <div class="detal-one-slider">
                                        <div class="swiper-wrapper">
                                            <img src="/tmp/photo.png" class="swiper-slide">
                                            <img src="/tmp/photo.png" class="swiper-slide">
                                            <img src="/tmp/photo.png" class="swiper-slide">
                                        </div>
                                        <div class="swiper-button-prev"></div>
                                        <div class="swiper-button-next"></div>
                                    </div>

                                    <a href="https://www.youtube.com/watch?v=OG_GX0YGAp0" class="detal-one__video">
                                        <img src="" alt="">
                                    </a>

                                    <div class="detal-one__descr">
                                        <p>Трубка левая 175-40-22570 </p>
                                        <p>Гидравлическая система: насос масла гидротрансформатора бульдозера, гидравлический насос трансмиссии, гидравлический насос рулевого управления, гидроцилиндр рыхлителя, гидрошланги и прочее</p>
                                    </div>


                                </div>
                                <div class="detal-one-table">
                                    <table>
                                            <tr>
                                                <th>№</th>
                                                <th>Фото</th>
                                                <th>Артикул</th>
                                                <th>Производитель</th>
                                                <th>Срок поставки</th>
                                                <th>Цена</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <div class="detal-photo" data-url="/tmp/photo.png"></div>
                                                </td>
                                                <td>004904001A0001090</td>
                                                <td>Япония</td>
                                                <td>3-5 дней</td>
                                                <td>15 000 ₽</td>
                                                <td>
                                                    <div class="good-quant">
                                                        <div class="good-quant__minus">-</div>
                                                        <input type="text" value="0" class="good-quant__input">
                                                        <div class="good-quant__plus">+</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="#addToCart" 
                                                        class="to-cart open-modal"
                                                        data-id="1"
                                                        data-img="/tmp/photo.png"
                                                        data-title="Трубка левая 175-40-22570"
                                                        data-art="004904001A0001090">в корзину</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>
                                                    <div class="detal-photo" data-url="/tmp/photo.png"></div>
                                                </td>
                                                <td>004904001A0001090</td>
                                                <td>Япония</td>
                                                <td>3-5 дней</td>
                                                <td>15 000 ₽</td>
                                                <td>
                                                    <div class="good-quant">
                                                        <div class="good-quant__minus">-</div>
                                                        <input type="text" value="0" class="good-quant__input">
                                                        <div class="good-quant__plus">+</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="#addToCart" 
                                                        class="to-cart open-modal"
                                                        data-id="1"
                                                        data-img="/tmp/photo.png"
                                                        data-title="Трубка левая 175-40-22570"
                                                        data-art="004904001A0001090">в корзину</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>
                                                    <div class="detal-photo disable"></div>
                                                </td>
                                                <td>004904001A0001090</td>
                                                <td>Япония</td>
                                                <td>3-5 дней</td>
                                                <td>15 000 ₽</td>
                                                <td>
                                                    <div class="good-quant">
                                                        <div class="good-quant__minus">-</div>
                                                        <input type="text" value="0" class="good-quant__input">
                                                        <div class="good-quant__plus">+</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="#addToCart" 
                                                        class="to-cart open-modal"
                                                        data-id="1"
                                                        data-img="/tmp/photo-big.png"
                                                        data-title="Трубка левая 175-40-22570"
                                                        data-art="004904001A0001090">в корзину</a>
                                                </td>
                                            </tr>



                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="detal-list-one even">
                        <td>2</td>
                        <td>200470000</td>
                        <td>Bolt</td>
                        <td>Болт</td>
                        <td>Цена</td>
                    </tr>
                    <tr class="detal-one">
                        <td colspan="5">
                            <div class="detal-one-inn">
                                <div class="detal-one-top">
                                    <div class="detal-one__title">Pipe / Трубка</div>

                                    <div class="detal-one-slider">
                                        <div class="swiper-wrapper">
                                            <img src="/tmp/photo.png" class="swiper-slide">
                                            <img src="/tmp/photo.png" class="swiper-slide">
                                            <img src="/tmp/photo.png" class="swiper-slide">
                                        </div>
                                        <div class="swiper-button-prev"></div>
                                        <div class="swiper-button-next"></div>
                                    </div>

                                    <a href="#" class="detal-one__video">
                                        <img src="/tmp/video.png" alt="">
                                    </a>

                                    <div class="detal-one__descr">
                                        <p>Трубка левая 175-40-22570 </p>
                                        <p>Гидравлическая система: насос масла гидротрансформатора бульдозера, гидравлический насос трансмиссии, гидравлический насос рулевого управления, гидроцилиндр рыхлителя, гидрошланги и прочее</p>
                                    </div>


                                </div>
                                <div class="detal-one-table">
                                    <table>
                                            <tr>
                                                <th>№</th>
                                                <th>Фото</th>
                                                <th>Артикул</th>
                                                <th>Производитель</th>
                                                <th>Срок поставки</th>
                                                <th>Цена</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <div class="detal-photo" data-url="/tmp/photo.png"></div>
                                                </td>
                                                <td>004904001A0001090</td>
                                                <td>Япония</td>
                                                <td>3-5 дней</td>
                                                <td>15 000 ₽</td>
                                                <td>
                                                    <div class="good-quant">
                                                        <div class="good-quant__minus">-</div>
                                                        <input type="text" value="0" class="good-quant__input">
                                                        <div class="good-quant__plus">+</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="#addToCart" 
                                                        class="to-cart open-modal"
                                                        data-id="1"
                                                        data-img="/tmp/photo.png"
                                                        data-title="Трубка левая 175-40-22570"
                                                        data-art="004904001A0001090">в корзину</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>
                                                    <div class="detal-photo" data-url="/tmp/photo.png"></div>
                                                </td>
                                                <td>004904001A0001090</td>
                                                <td>Япония</td>
                                                <td>3-5 дней</td>
                                                <td>15 000 ₽</td>
                                                <td>
                                                    <div class="good-quant">
                                                        <div class="good-quant__minus">-</div>
                                                        <input type="text" value="0" class="good-quant__input">
                                                        <div class="good-quant__plus">+</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="#addToCart" 
                                                        class="to-cart open-modal"
                                                        data-id="1"
                                                        data-img="/tmp/photo.png"
                                                        data-title="Трубка левая 175-40-22570"
                                                        data-art="004904001A0001090">в корзину</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>
                                                    <div class="detal-photo disable"></div>
                                                </td>
                                                <td>004904001A0001090</td>
                                                <td>Япония</td>
                                                <td>3-5 дней</td>
                                                <td>15 000 ₽</td>
                                                <td>
                                                    <div class="good-quant">
                                                        <div class="good-quant__minus">-</div>
                                                        <input type="text" value="0" class="good-quant__input">
                                                        <div class="good-quant__plus">+</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="#addToCart" 
                                                        class="to-cart open-modal"
                                                        data-id="1"
                                                        data-img="/tmp/photo-big.png"
                                                        data-title="Трубка левая 175-40-22570"
                                                        data-art="004904001A0001090">в корзину</a>
                                                </td>
                                            </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="detal-img">
                <img src="/tmp/image.png" alt="">
            </div>
        </div>
    </div>
       
    <div class="wrap">
        <h2>Оригинальное качество по доступной цене</h2>
            <p>
                Наша компания производит поставки напрямую от производителей и официальных поставщиков. Со многими заводами налажено прямое сотрудничество и пройдена официальная авторизация, сертификаты о которой представлены в специальном разделе сайта. Благодаря тому, что продажа запчастей на спецтехнику ведется без перекупщиков, мы выдерживаем планку доступных цен и урезаем сроки поставок до минимума. 
            </p>
            <p>
                Комплектующие европейского качества от производителей из Италии, Германии и других стран успели хорошо зарекомендовать себя в тяжелых отечественных условиях, доказав свое превосходство над аналогами от малоизвестных компаний. При лучших технических характеристиках они отличаются доступной ценой, и запчасти для спецтехники Екатеринбург может получить без дополнительных наценок.
            </p>        
    </div>
</article>