<article class="content">
    <div class="wrap">
        <div class="breadcrumbs">
            <a href="#">Главная</a> /  <span>Результаты поиска</span>
        </div>

        <h1>Результаты поиска</h1>
        
        <div class="search-top">
            <div class="search-request">
                Вы искали: <strong>болт</strong>
            </div>
            <div class="search-result">
                Найдено результатов: <strong>67</strong>
            </div>
        </div>

        <ol class="search-results">
            <li>
                <div class="search-results__title">Болт опорного катка РС 400 </div>
                <p>Наши поставщики предоставляют нам продукцию, которая уже успела зарекомендовать  себя в условиях максимальной эксплуатации. У нас вы в любое время сможете приобрести комплектующие зарубежного или отечественного производства. В нашем магазине продажа осуществляется ...</p>
                <a href="#">http://stz-ural.ru/3/224/278/4387/</a>
            </li>
            <li>
                <div class="search-results__title">Болт опорного катка РС 400 </div>
                <p>Наши поставщики предоставляют нам продукцию, которая уже успела зарекомендовать  себя в условиях максимальной эксплуатации. У нас вы в любое время сможете приобрести комплектующие зарубежного или отечественного производства. В нашем магазине продажа осуществляется ...</p>
                <a href="#">http://stz-ural.ru/3/224/278/4387/</a>
            </li>
            <li>
                <div class="search-results__title">Болт опорного катка РС 400 </div>
                <p>Наши поставщики предоставляют нам продукцию, которая уже успела зарекомендовать  себя в условиях максимальной эксплуатации. У нас вы в любое время сможете приобрести комплектующие зарубежного или отечественного производства. В нашем магазине продажа осуществляется ...</p>
                <a href="#">http://stz-ural.ru/3/224/278/4387/</a>
            </li>
            <li>
                <div class="search-results__title">Болт опорного катка РС 400 </div>
                <p>Наши поставщики предоставляют нам продукцию, которая уже успела зарекомендовать  себя в условиях максимальной эксплуатации. У нас вы в любое время сможете приобрести комплектующие зарубежного или отечественного производства. В нашем магазине продажа осуществляется ...</p>
                <a href="#">http://stz-ural.ru/3/224/278/4387/</a>
            </li>
            <li>
                <div class="search-results__title">Болт опорного катка РС 400 </div>
                <p>Наши поставщики предоставляют нам продукцию, которая уже успела зарекомендовать  себя в условиях максимальной эксплуатации. У нас вы в любое время сможете приобрести комплектующие зарубежного или отечественного производства. В нашем магазине продажа осуществляется ...</p>
                <a href="#">http://stz-ural.ru/3/224/278/4387/</a>
            </li>
            <li>
                <div class="search-results__title">Болт опорного катка РС 400 </div>
                <p>Наши поставщики предоставляют нам продукцию, которая уже успела зарекомендовать  себя в условиях максимальной эксплуатации. У нас вы в любое время сможете приобрести комплектующие зарубежного или отечественного производства. В нашем магазине продажа осуществляется ...</p>
                <a href="#">http://stz-ural.ru/3/224/278/4387/</a>
            </li>
        </ol>

        <div class="pagination">
            <a href="#" class="pagination__prev"></a>
            <a href="#" class="curr">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#" class="pagination__next"></a>
        </div>
        
            
    </div>
</article>