<article class="content">
    <div class="wrap">
        <div class="breadcrumbs">
            <a href="#">Главная</a> / <span>Каталог</span>
        </div>

        <h1 class="content__title">Каталог</h1>

        <div class="catalog">
            <a class="catalog-one" href="#">
                <img src="tmp/catalog.png" alt="">
                <div class="catalog-one__title">Бульдозер Shantui SD16</div>
            </a>
            <a class="catalog-one" href="#">
                <img src="tmp/catalog.png" alt="">
                <div class="catalog-one__title">Экскаватор Hyundai R200W-7</div>
            </a>
            <a class="catalog-one" href="#">
                <img src="tmp/catalog.png" alt="">
                <div class="catalog-one__title">Бульдозер Shantui SD16</div>
            </a>
            <a class="catalog-one" href="#">
                <img src="tmp/catalog.png" alt="">
                <div class="catalog-one__title">Бульдозер Shantui SD16</div>
            </a>
            <a class="catalog-one" href="#">
                <img src="tmp/catalog.png" alt="">
                <div class="catalog-one__title">Экскаватор Hyundai R200W-7</div>
            </a>
            <a class="catalog-one" href="#">
                <img src="tmp/catalog.png" alt="">
                <div class="catalog-one__title">Бульдозер Shantui SD16</div>
            </a>
        </div>    

        <h2>Оригинальное качество по доступной цене</h2>
            <p>
                Наша компания производит поставки напрямую от производителей и официальных поставщиков. Со многими заводами налажено прямое сотрудничество и пройдена официальная авторизация, сертификаты о которой представлены в специальном разделе сайта. Благодаря тому, что продажа запчастей на спецтехнику ведется без перекупщиков, мы выдерживаем планку доступных цен и урезаем сроки поставок до минимума. 
            </p>
            <p>
                Комплектующие европейского качества от производителей из Италии, Германии и других стран успели хорошо зарекомендовать себя в тяжелых отечественных условиях, доказав свое превосходство над аналогами от малоизвестных компаний. При лучших технических характеристиках они отличаются доступной ценой, и запчасти для спецтехники Екатеринбург может получить без дополнительных наценок.
            </p>        
    </div>
</article>