<div class="lk-cols clearfix">
	<div class="lk-col">
		<div class="lk-col__title">Укажите интересующую вас технику</div>

		<div class="garage-one">
			<div class="garage-item">
				<div class="garage-item__img">
					<img src="/tmp/garage.jpg" alt="">
				</div>
				<div class="garage-item__title">Экскаватор Hyundai R200W-7</div>
			</div>
			<a href="#" class="garage-one__link">Перейти в каталог</a>
			<div class="form-line">
		        <label for="">VIN код:</label>
		        <input type="text" name="vin" value="LZGJLDR4XCX038820">
		    </div>
		    <div class="garage-one__remove"></div>
		</div>

		<div class="garage-one">
			<div class="garage-item">
				<img class="garage-item__img" src="/tmp/garage.jpg" alt="">
				<div class="garage-item__title">Экскаватор Hyundai R200W-7</div>
			</div>
			<a href="#" class="garage-one__link">Перейти в каталог</a>
			<div class="form-line">
		        <label for="">VIN код:</label>
		        <input type="text" name="vin" value="LZGJLDR4XCX038820">
		    </div>
		    <div class="garage-one__remove"></div>
		</div>

		<button class="garage-add">+ Добавить еще</button>

		<div class="garage-new">
			<div class="select garage-select">
	            <input type="text">
	            <div class="garage-selected">
					<div class="garage-item">
						<img class="garage-item__img" src="/tmp/garage.jpg" alt="">
						<div class="garage-item__title">Экскаватор Hyundai R200W-2</div>
					</div>
	            </div>
	            <div class="select-list" style="display: none;">
	                <div class="select-list__one select-default garage-item" data-name="Экскаватор Hyundai R200W-2">
						<div class="garage-item__img">
							<img src="/tmp/garage.jpg" alt="">
						</div>
						<div class="garage-item__title">Экскаватор Hyundai R200W-2</div>
	                </div>
	                <div class="select-list__one select-default garage-item"  data-name="Экскаватор Hyundai R200W-3">
						<div class="garage-item__img">
							<img src="/tmp/garage.jpg" alt="">
						</div>
						<div class="garage-item__title">Экскаватор Hyundai R200W-3</div>
	                </div>
	                <div class="select-list__one select-default garage-item"  data-name="Экскаватор Hyundai R200W-4">
						<div class="garage-item__img">
							<img src="/tmp/garage.jpg" alt="">
						</div>
						<div class="garage-item__title">Экскаватор Hyundai R200W-4</div>
	                </div>
	            </div>
	        </div>
	        <div class="form-line">
		        <label for="">VIN код:</label>
		        <input type="text" name="vin">
		    </div>
		    <div class="form-line">
	            <button class="form-send">Добавить</button>
		    </div>
		</div>
	</div>
</div>