<div class="lk-cols clearfix">
	<div class="lk-col">
		<div class="lk-col__title">Личные данные</div>
		<form action="" id="personal">
			<div class="form-line">
				<label for="">Название организации:</label>
				<input type="text" name="company">
			</div>
			<div class="form-line">
	            <label for="">ФИО:</label>
	            <input type="text" name="name" value="Преображенский Филипп Филлипович">
	        </div>
	        <div class="form-line">
	            <label for="">Номер телефона:</label>
	            <input type="text" name="phone">
	        </div>
	        <div class="form-line">
	            <label for="">Реквизиты:</label>
	            <textarea name="rekvezit"></textarea>
	        </div>
	        <div class="form-line">
	            <label for="">Адрес:</label>
	            <input type="text" name="adres">
	        </div>
	        <div class="form-line">
	            <label for="">E-mail:</label>
	            <input type="text" name="email" value="sobaka_sharik@mail.ru">
	        </div>
	        <div class="form-line">
	            <button class="form-send">Сохранить</button>
	        </div>
		</form>
	</div>
	<div class="lk-col">
		<div class="lk-col__title">Изменение пароля</div>
		<form action="" id="change-pass">
			<div class="form-line">
				<label for="">Старый пароль:</label>
				<input type="password" name="old-password">
			</div>
			<div class="form-line">
				<label for="">Новый пароль:</label>
				<input type="password" name="new-password">
			</div>
			<div class="form-line">
				<label for="">Повторите новый пароль:</label>
				<input type="password" name="password">
			</div>
			<div class="form-line">
	            <button class="form-send">Сохранить</button>
	        </div>
		</form>
	</div>
</div>