<header class="header">
    <div class="wrap">
    	<div class="header-inn">
	    	<a href="#" class="header-logo">
	       		ООО «ИнСтокк»
	       		<span>Запасные части для спецтехники Корея, Япония, Китай и др.</span>
	    	</a>

	    	<div class="header-centr">
	    		<div class="header__phone">
	       			+7 (987) 654-32-10
	    		</div>
	    		<a href="#order" class="open-modal header__call">
	       			Заказать звонок
	    		</a>
	    	</div>

	    	<div class="header-right">
	    		<div class="header-personal">
	       			<a href="#login" class="open-modal">Вход</a>  |  <a href="#">Регистрация</a>
	    		</div>
	    		<a href="#" class="header-cart">
	    			<div class="header-cart__title">
	       				Корзина:	
	    			</div>
	    			<div class="header-cart__qunt">
	    				<span>14</span> товаров
	    			</div>
	    		</a>
	    	</div>
    	</div>
    </div>
    <div class="header-menu">
    	<div class="wrap">
    		<div class="header-menu-inn">
		    	<a class="header-menu-one" href="#">Главная</a>
		        <a class="header-menu-one" href="#">Каталог</a>
		        <a class="header-menu-one" href="#">Оплата и доставка</a>
		        <a class="header-menu-one" href="#">О нас</a>
		        <a class="header-menu-one" href="#">Услуги</a>
		        <a class="header-menu-one" href="#">Контакты</a>
    		</div>
    	</div>
    </div>
</header>