<div id="overlay">
	<div class="modal" id="order">
		<div class="modal__close"></div>
		<div class="order__inn">
			<div class="order-title">Заказать обратный звонок</div>
			<div class="order-form">
				<form id="order-form" action="" method="post" >
					<div class="form-line">
						<label for="">Имя:</label>
						<input type="text" name="name">
					</div>
					<div class="form-line">
						<label for="">Номер телефона:</label>
						<input type="text" name="phone">
					</div>
					<div class="form-line">
						<input type="checkbox" id="personal" name="personal">
						<label for="personal" class="checkbox"><i></i>Нажимая «Заказать звонок» я даю согласие на обработку моих персональных данных и соглашаюсь с правилами работы с ними».</label>
					</div>
					<div class="form-line">
						<label for=""></label>
						<button class="form-send">Заказать звонок</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal" id="login">
		<div class="modal__close"></div>
		<div class="order__inn">
			<div class="order-title">Вход</div>
			<div class="order-form">
				<form id="order-form" action="" method="post" >
					<div class="form-line">
						<label for="">E-mail:</label>
						<input type="text" name="login">
					</div>
					<div class="form-line">
						<label for="">Пароль:</label>
						<input type="password" name="password">
					</div>

					<div class="form-line">
						<label for=""></label>
						<button class="form-send">Вход</button>

						<div class="login-link">
							<a href="#">Забыли пароль?</a>
							<a href="#">Регистрация</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal" id="thank">
		<div class="modal__close"></div>
		<div class="order__inn">
			<div class="order-title">Благодарим за регистрацию!</div>
			<div class="order-form">
				<p>На вашу электронную почту отправлено письмо со ссылкой для подтверждения аккаунта.</p>

				<div class="button-line">
					<div class="button-one modal-close">ЗАкрыть</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal modal--cart" id="addToCart">
		<div class="modal__close"></div>
		<div class="order__inn">
			<div class="order-title">Вы добавили в корзину:</div>
			<div class="order-form">
				<div class="good-item clearfix">
					<div class="good-img">
						<img src="/tmp/photo.png" alt="">
					</div>
					<div class="good-title">Pipe / Трубка</div>
					<div class="good-art">004904001A0001090</div>
				</div>
				<div class="button-line">
					<div class="button-one modal-close">Продолжить покупки</div>
					<a href="#" class="button-one">Перейти в корзину</a>
				</div>
			</div>
		</div>
	</div>
</div>