<div class="slider">
	<div class="slider-inn">
		<div class="swiper-wrapper">
	        <!-- Slides -->
	        <div class="swiper-slide">
				<img src="/tmp/slideimg.jpg" alt="">
				<div class="slider-title">
					<div class="slider-title__top">
						Поставки запчастей 
					</div>
					<div class="slider-title__bottom">
						для спецтехники производства Кореи, Японии, Китая и других
					</div>
					<a href="#">Перейти в каталог</a>
				</div>
	        </div>
	        <div class="swiper-slide">
				<img src="/tmp/slideimg.jpg" alt="">
				<div class="slider-title">
					<div class="slider-title__top">
						Поставки запчастей 
					</div>
					<div class="slider-title__bottom">
						для спецтехники производства Кореи, Японии, Китая и других
					</div>
					<a href="#">Перейти в каталог</a>
				</div>
	        </div>
	        <div class="swiper-slide">
				<img src="/tmp/slideimg.jpg" alt="">
				<div class="slider-title">
					<div class="slider-title__top">
						Поставки запчастей 
					</div>
					<div class="slider-title__bottom">
						для спецтехники производства Кореи, Японии, Китая и других
					</div>
					<a href="#">Перейти в каталог</a>
				</div>
	        </div>
	    </div>
	    <!-- If we need pagination -->
	    <div class="swiper-pagination"></div>
	    
	    <!-- If we need navigation buttons -->
	</div>
	<div class="slider-nav">
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
	
</div>