<article class="content">
    <div class="wrap">
        <div class="breadcrumbs">
            <a href="#">Главная</a> /  <span>Контакты</span>
        </div>

        <h1 class="content__title">Контакты</h1>

        <p>
            <strong>Адрес:</strong> Россия, г. Москва, ул. Верхние поля, дом №61, стр.1<br>
            <strong>E-mail:</strong> <a href="#">info@maxivator.ru</a><br>
            <strong>Телефон:</strong> +7(495) 134 34 03
        </p>
        <p>
            <strong>ИНН/КПП:</strong> 7723381431/772301001<br>
            <strong>ОГРН:</strong> 1157746204714
        </p>  
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script>
        ymaps.ready(function () {
            var myMap = new ymaps.Map('map', {
                    center: [56.83171856787374,60.6625664999999],
                    zoom: 16,
                    controls: []
                }, {
                }),
             
                myPlacemark = new ymaps.Placemark([
                    56.83171856787374,60.6625664999999
                ], {
                    iconCaption: 'г. Екатеринбург, улица Победы, 42, эт. 1'
                }, {
                    preset: 'islands#blueCircleDotIconWithCaption',
                    iconCaptionMaxWidth: '240'
                });
            myMap.geoObjects.add(myPlacemark);
        });
    </script>
    <div id="map"></div>
        
    <div class="wrap">

        //= form.html
      
    </div>
</article>