<div class="content-form">
    <div class="content-form__title">Обратная связь</div>
    <form action="" id="order-call">
        
        <div class="inline-form">
            <label for="">Имя<span>*</span>:</label>
            <input type="text" name="name">
        </div>
        <div class="inline-form">
            <label for="">Номер телефона<span>*</span>:</label>
            <input type="text" name="phone">
        </div>
        <div class="inline-form">
            <label for="">Текст сообщения:</label>
            <textarea name="comment"></textarea>
        </div>
        <div class="form-line">
            <input type="checkbox" id="personal" name="personal">
            <label for="personal"><i></i>Нажимая «Заказать звонок» я даю согласие на обработку моих персональных данных и соглашаюсь с правилами работы с ними».</label>
        </div>
        <div class="form-line">
            <button class="form-send">Отправить</button>
        </div>
    </form>
</div>