<article class="content">
    <div class="wrap">
        <div class="breadcrumbs">
            <a href="#">Главная</a> /  <span>Корзина</span>
        </div>

        <h1 class="content__title">Корзина</h1>

        <p>Просмотрите товар, который у Вас в корзине. Оплатить свои заказы Вы можете удобным для Вас способом, у нас действует наличный и безналичный расчет.</p>
        <p>С условиями доставки вы можете ознакомиться <a href="#">здесь</a>.</p>

        <div class="cart-list">
            <table>
                <tr>
                    <th>№</th>
                    <th>Фото</th>
                    <th>Название и артикул</th>
                    <th>Срок поставки</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                    <th></th>
                </tr>
                <tr class="cart-list-line">
                    <td>1</td>
                    <td>
                        <div class="detal-photo" data-url="/tmp/photo.png"></div>
                    </td>
                    <td>
                        <div class="cart-list-title">
                            <a href="#">Pipe / Трубка</a>
                            004904001A0001090
                        </div> 
                    </td>
                    <td>3-5 дней</td>
                    <td>
                        <div class="good-quant">
                            <div class="good-quant__minus">-</div>
                            <input type="text" value="2" class="good-quant__input">
                            <div class="good-quant__plus">+</div>
                        </div>
                    </td>
                    <td>
                        <span class="good-price">15000</span> ₽
                    </td>
                    <td>
                        <span class="good-summ">30000</span> ₽
                    </td>
                    <td>
                        <div class="good-remove"></div>
                    </td>
                </tr>
                <tr class="cart-list-line">
                    <td>2</td>
                    <td>
                       <div class="detal-photo disable"></div>
                    </td>
                    <td>
                        <div class="cart-list-title">
                            <a href="#">Pipe / Трубка</a>
                            004904001A0001090
                        </div> 
                    </td>
                    <td>3-5 дней</td>
                    <td>
                        <div class="good-quant">
                            <div class="good-quant__minus">-</div>
                            <input type="text" value="2" class="good-quant__input">
                            <div class="good-quant__plus">+</div>
                        </div>
                    </td>
                    <td>
                        <span class="good-price">15000</span> ₽
                    </td>
                    <td>
                        <span class="good-summ">30000</span> ₽
                    </td>
                    <td>
                        <div class="good-remove"></div>
                    </td>
                </tr>
                <tr class="cart-list-line">
                    <td>2</td>
                    <td>
                       <div class="detal-photo disable"></div>
                    </td>
                    <td>
                        <div class="cart-list-title">
                            <a href="#">Pipe / Трубка</a>
                            004904001A0001090
                        </div> 
                    </td>
                    <td>3-5 дней</td>
                    <td>
                        <div class="good-quant">
                            <div class="good-quant__minus">-</div>
                            <input type="text" value="2" class="good-quant__input">
                            <div class="good-quant__plus">+</div>
                        </div>
                    </td>
                    <td>
                        <span class="good-price">15000</span> ₽
                    </td>
                    <td>
                        <span class="good-summ">30000</span> ₽
                    </td>
                    <td>
                        <div class="good-remove"></div>
                    </td>
                </tr>
                <tr class="cart-list-bottom">
                    <td colspan="5"></td>
                    <td>
                        <div class="good-total-title">Итого:</div>
                    </td>
                    <td colspan="2" class="good-total"><span>30 000</span> ₽</td>
                </tr>
            </table>
        </div>


        //= form.html
      
    </div>
</article>