<article class="content">
    <div class="wrap">
        <div class="breadcrumbs">
            <a href="#">Главная</a> / <a href="#">Каталог </a> /<span>Бульдозер Shantui SD16</span>
        </div>

        <h1 class="content__title">Бульдозер Shantui SD16</h1>

        <p>Наша компания производит поставки напрямую от производителей и официальных поставщиков. Со многими заводами налажено прямое сотрудничество и пройдена официальная авторизация, сертификаты о которой представлены в специальном разделе сайта. Благодаря тому, что продажа запчастей на спецтехнику ведется без перекупщиков, мы выдерживаем планку доступных цен и урезаем сроки поставок до минимума. </p>

        <div class="catalog-list">
            <div class="catalog-list__title">Бульдозер Shantui SD16</div>
            <ul>
                <li><a href="#">1.1 ENGINE RELATED PARTS</a></li>
                <li><a href="#">1.2 CONVERTORTRANSMISSIN AND PIPING</a></li>
                <li><a href="#">1.3 STEERING CASE AND FINAL DRIVE</a></li>
                <li><a href="#">1.4 TRACK SYSTEM</a></li>
                <li><a href="#">1.5 GUARD</a></li>
                <li><a href="#">1.6 WORK EQUIPMENT CONTROL SYSTEM</a></li>
                <li><a href="#">1.7 WORK EQUIPMENT</a></li>
                <li><a href="#">1.8 ELECTRICAL SYSTEM</a></li>
                <li><a href="#">1.9 ATTCHMENT EQUIPMENT</a></li>
            </ul>
            <span>СПИСОК ЗАПЧАСТЕЙ</span>
        </div>    

        <h2>Оригинальное качество по доступной цене</h2>
            <p>
                Наша компания производит поставки напрямую от производителей и официальных поставщиков. Со многими заводами налажено прямое сотрудничество и пройдена официальная авторизация, сертификаты о которой представлены в специальном разделе сайта. Благодаря тому, что продажа запчастей на спецтехнику ведется без перекупщиков, мы выдерживаем планку доступных цен и урезаем сроки поставок до минимума. 
            </p>
            <p>
                Комплектующие европейского качества от производителей из Италии, Германии и других стран успели хорошо зарекомендовать себя в тяжелых отечественных условиях, доказав свое превосходство над аналогами от малоизвестных компаний. При лучших технических характеристиках они отличаются доступной ценой, и запчасти для спецтехники Екатеринбург может получить без дополнительных наценок.
            </p>        
    </div>
</article>