<article class="content">
    <div class="wrap">
            <div class="breadcrumbs">
                <a href="#">Главная</a> /  <span>Регистрация</span>
            </div>

            <h1>Регистрация</h1>

            <p>Наша компания производит поставки напрямую от производителей и официальных поставщиков. Со многими заводами налажено прямое сотрудничество и пройдена официальная авторизация, сертификаты о которой представлены в специальном разделе сайта. Благодаря тому, что продажа запчастей на спецтехнику ведется без перекупщиков, мы выдерживаем планку доступных цен и урезаем сроки поставок до минимума. </p>

            <div class="lk">
                <div class="lk-tabs">
                    <div class="tab-menu">
                        <div class="tab-menu-one active">Физическое лицо</div>
                        <div class="tab-menu-one">Юридическое лицо</div>
                    </div>
                    <div class="tab-list">
                        <div class="tab-list-one" style="display: block;">
                            //= fiz.html
                        </div>
                        <div class="tab-list-one">
                            //= ul.html
                        </div>
                    </div>
                </div>
            </div>
    </div>
</article>