<div class="lk-cols clearfix">
	<div class="lk-col">
		<div class="lk-col__title">1. Личные данные</div>
		<form action="" id="personal">
			<div class="form-line">
	            <label for="">ФИО</label>
	            <input type="text" name="name">
	        </div>
	        <div class="form-line">
	            <label for="">Номер телефона</label>
	            <input type="text" name="phone">
	        </div>
	        <div class="form-line">
	            <label for="">Адрес:</label>
	            <input type="text" name="adres">
	        </div>
	        <div class="form-line">
	            <label for="">E-mail*:</label>
	            <input type="text" name="email">
	        </div>
	        <div class="form-line">
				<label for="">Пароль*:</label>
				<input type="password" name="password">
			</div>
			<div class="form-line">
				<label for="">Повторите пароль*:</label>
				<input type="password" name="password">
			</div>
			<div class="form-line">
				<input type="checkbox" id="politic" name="politic">
				<label for="politic"><i></i>Согласен на обработку персональных данных <a href="#">Политика конфиденциальности</a></label>
			</div>
	        <div class="form-line">
	            <button class="form-send">Зарегистрироваться</button>
	        </div>
		</form>
	</div>
	<div class="lk-col">
		
	</div>
</div>