<div class="lk-cols clearfix">
	<form action="" id="ul-reg">
		<div class="lk-col">
			<div class="lk-col__title">1. Данные организации</div>
	        <div class="form-line">
	            <label for="">Название организации:</label>
	            <input type="text" name="organization">
	        </div>
	        <div class="form-line">
	            <label for="">Организационно правовая форма:</label>
	            <input type="text" name="form">
	        </div>
	        <div class="form-line">
	            <label for="">ИНН:</label>
	            <input type="text" name="inn">
	        </div>
			<div class="form-line">
				<label for="">КПП:</label>
				<input type="text" name="kpp">
			</div>
			<div class="form-line">
				<label for="">Юридический адрес:</label>
				<input type="text" name="uladress">
			</div>
			<div class="form-line">
				<label for="">Наименование банка:</label>
				<input type="text" name="bank">
			</div>
			<div class="form-line">
				<label for="">БИК:</label>
				<input type="text" name="bik">
			</div>
			<div class="form-line">
				<label for="">Расчетный счет:</label>
				<input type="text" name="rs-chet">
			</div>
			<div class="form-line">
				<label for="">Корр. счет:</label>
				<input type="text" name="kor-schet">
			</div>
			<div class="form-line">
				<input type="checkbox" id="politic2" name="politic2">
				<label for="politic2"><i></i>Согласен на обработку персональных данных <a href="#">Политика конфиденциальности</a></label>
			</div>
	        <div class="form-line">
	            <button class="form-send">Зарегистрироваться</button>
	        </div>
		</div>
		<div class="lk-col">
			<div class="lk-col__title">2. Личные данные</div>
			<div class="form-line">
	            <label for="">ФИО</label>
	            <input type="text" name="name">
	        </div>
	        <div class="form-line">
	            <label for="">Номер телефона</label>
	            <input type="text" name="phone">
	        </div>
	        <div class="form-line">
	            <label for="">Адрес:</label>
	            <input type="text" name="adres">
	        </div>
	        <div class="form-line">
	            <label for="">E-mail*:</label>
	            <input type="text" name="email">
	        </div>
	        <div class="form-line">
				<label for="">Пароль*:</label>
				<input type="password" name="password">
			</div>
			<div class="form-line">
				<label for="">Повторите пароль*:</label>
				<input type="password" name="password">
			</div>
		</div>
	</form>
</div>