<article class="content">
    <div class="wrap">
            <div class="breadcrumbs">
                <a href="#">Главная</a> /  <span>Востановление пароля</span>
            </div>

            <h1>Востановление пароля</h1>

            <p>Введите e-mail, который был указан при регистрации</p>

            <div class="lk-cols clearfix">
                <div class="lk-col">
                    <form action="" id="recover">
                        
                        <div class="form-line">
                            <label for="">E-mail*:</label>
                            <input type="text" name="email">
                        </div>
                        
                        <div class="form-line">
                            <button class="form-send">Восстановить</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</article>